html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #191C2B;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

